.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: x-large;
  position: relative;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.ana {
  background-color: rgb(228, 112, 70);
  width: 500px;
  margin: 6rem 3rem;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 7px;
}

h1 {
  background-image: url(./images/cw.jpg);
  height: 140px;
  width: 140px;
  background-size: cover;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
  left: 16.6rem;
}
h3 {
  font-size: 1.2rem;
  margin-top: 5rem;
}
span {
  color: yellow;
}
