* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  background-color: rgb(32, 30, 30);
  width: 600px;
  height: 775px;
  /* display: flex; */
  padding: 12px 4px;
}
header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 4px;
}
.logo {
  background-color: rgb(91, 183, 86);
  padding: 5px 4rem;
}
.menu {
  background-color: rgb(78, 139, 201);
  padding: 5px 8.8rem;
}
main {
  /* background-color: burlywood; */
  margin: 1.5rem 4px;
}
.banner {
  background-color: red;
  font-size: 2.5rem;
  padding: 5rem 13rem;
}
.green-main {
  display: flex;
  gap: 3px;
  margin: 10px 4px;
}
.green {
  background-color: rgb(91, 183, 86);
  height: 8rem;
  width: 34%;
}
.yellow-main {
  display: flex;
  justify-content: space-around;
  margin: 4rem 3rem 1rem 3rem;
}
.yel {
  background-color: orange;
  width: 17%;
  height: 5.5rem;
}
.yel2 {
  width: 50%;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 1.3rem;
}
.footer {
  background-color: green;
  width: 20%;
  height: 6rem;
}
.footer1,
.footer4 {
  width: 28%;
}
